.elementor-148 .elementor-element.elementor-element-4f23a186 > .elementor-container {
    min-height: 40px;
}

.elementor-148 .elementor-element.elementor-element-4f23a186:not(.elementor-motion-effects-element-type-background), .elementor-148 .elementor-element.elementor-element-4f23a186 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #001546;
}

.elementor-148 .elementor-element.elementor-element-4f23a186 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(2, 1, 1, 0.14);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 0px 15px 0px;
}

.elementor-148 .elementor-element.elementor-element-4f23a186, .elementor-148 .elementor-element.elementor-element-4f23a186 > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-4f23a186 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-148 .elementor-element.elementor-element-149e9549 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-148 .elementor-element.elementor-element-64dd7eb6.elementor-column > .elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-148 .elementor-element.elementor-element-64dd7eb6 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-widget-navigation-menu a.hfe-menu-item, .elementor-widget-navigation-menu a.hfe-sub-menu-item {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item, .elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item {
    color: var(--e-global-color-text);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:hover,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item:hover,
.elementor-widget-navigation-menu .menu-item.current-menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.highlighted,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:focus {
    color: var(--e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before,
.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after {
    background-color: var(--e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after {
    background-color: var(--e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before,
.elementor-widget-navigation-menu .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after {
    border-color: var(--e-global-color-accent);
}

.elementor-widget-navigation-menu .sub-menu li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
    background-color: var(--e-global-color-accent);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button:hover {
    background-color: var(--e-global-color-accent);
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-nav-menu__toggle {
    margin-left: auto;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item a.hfe-menu-item {
    padding-left: 20px;
    padding-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item a.hfe-sub-menu-item {
    padding-left: calc(20px + 20px);
    padding-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(20px + 40px);
    padding-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(20px + 60px);
    padding-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(20px + 80px);
    padding-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item a.hfe-menu-item, .elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item a.hfe-sub-menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 a.hfe-menu-item, .elementor-148 .elementor-element.elementor-element-27d9c8d7 a.hfe-sub-menu-item {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item a.hfe-menu-item, .elementor-148 .elementor-element.elementor-element-27d9c8d7 .sub-menu a.hfe-sub-menu-item {
    color: #000000;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item a.hfe-menu-item:hover,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item a.hfe-menu-item.highlighted,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item a.hfe-menu-item:focus {
    color: var(--e-global-color-19576000);
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 .menu-item.current-menu-ancestor a.hfe-menu-item {
    color: var(--e-global-color-accent);
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .sub-menu a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 .elementor-menu-toggle,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    color: #000000;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .sub-menu,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 .elementor-menu-toggle:hover,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li a.hfe-menu-item:hover,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li a.hfe-sub-menu-item:hover,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible li a.hfe-menu-item:hover,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item:hover {
    color: var(--e-global-color-19576000);
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown .menu-item.current-menu-item a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown .menu-item.current-menu-ancestor a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active {
    color: var(--e-global-color-accent);
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .sub-menu li a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    font-family: "Teko", Sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-nav-menu .sub-menu,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 ul.sub-menu {
    width: 220px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .sub-menu li a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible li a.hfe-menu-item {
    padding-left: 20px;
    padding-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li a.hfe-sub-menu-item {
    padding-left: calc(20px + 20px);
    padding-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(20px + 40px);
    padding-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(20px + 60px);
    padding-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(20px + 80px);
    padding-right: 20px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .sub-menu a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 .sub-menu li.menu-item:not(:last-child),
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-148 .elementor-element.elementor-element-27d9c8d7 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: rgba(196, 196, 196, 0.55);
    border-bottom-width: 1px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-27d9c8d7.elementor-element {
    --order: -99999 /* order start hack */;
}

.elementor-bc-flex-widget .elementor-148 .elementor-element.elementor-element-2b985c65.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-148 .elementor-element.elementor-element-2b985c65.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-148 .elementor-element.elementor-element-2b985c65 > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: rgba(122, 122, 122, 0.52);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-148 .elementor-element.elementor-element-2b985c65 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-148 .elementor-element.elementor-element-21e45438 .elementor-repeater-item-9fd62b2.elementor-social-icon {
    background-color: #E1306C;
}

.elementor-148 .elementor-element.elementor-element-21e45438 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 20px;
    --grid-row-gap: 0px;
}

.elementor-148 .elementor-element.elementor-element-21e45438 .elementor-widget-container {
    text-align: right;
}

.elementor-148 .elementor-element.elementor-element-21e45438 .elementor-social-icon {
    --icon-padding: 0.5em;
}

.elementor-148 .elementor-element.elementor-element-21e45438 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media (max-width: 1024px) {
    .elementor-148 .elementor-element.elementor-element-4f23a186 > .elementor-container {
        min-height: 40px;
    }

    .elementor-148 .elementor-element.elementor-element-4f23a186 {
        padding: 0px 30px 0px 30px;
    }

    .elementor-bc-flex-widget .elementor-148 .elementor-element.elementor-element-149e9549.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-148 .elementor-element.elementor-element-149e9549.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-148 .elementor-element.elementor-element-149e9549 > .elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }

    .elementor-bc-flex-widget .elementor-148 .elementor-element.elementor-element-64dd7eb6.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-148 .elementor-element.elementor-element-64dd7eb6.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-148 .elementor-element.elementor-element-64dd7eb6 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 767px) {
    .elementor-148 .elementor-element.elementor-element-4f23a186 {
        padding: 20px 20px 20px 20px;
    }

    .elementor-148 .elementor-element.elementor-element-149e9549 {
        width: 100%;
    }

    .elementor-148 .elementor-element.elementor-element-149e9549 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-148 .elementor-element.elementor-element-7155e47 {
        text-align: center;
    }

    .elementor-148 .elementor-element.elementor-element-64dd7eb6 {
        width: 30%;
    }

    .elementor-148 .elementor-element.elementor-element-2b985c65 > .elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-148 .elementor-element.elementor-element-21e45438 .elementor-widget-container {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .elementor-148 .elementor-element.elementor-element-149e9549 {
        width: 20%;
    }

    .elementor-148 .elementor-element.elementor-element-64dd7eb6 {
        width: 60%;
    }

    .elementor-148 .elementor-element.elementor-element-2b985c65 {
        width: 19.332%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-148 .elementor-element.elementor-element-149e9549 {
        width: 80%;
    }

    .elementor-148 .elementor-element.elementor-element-64dd7eb6 {
        width: 20%;
    }

    .elementor-148 .elementor-element.elementor-element-2b985c65 {
        width: 30%;
    }
}

a.hfe-menu-item {
    color: #FFFFFF !important;
}

.menu-item.current-menu-item a.hfe-menu-item {
    text-decoration: underline;
}